$main-box-shadow: 0 0 5px white;
$manager-background-color: #202020;
$main-font: 'Gelasio', serif;
$secondary-color: #00b9f2;
@mixin nightStyle() {
  border: 2px solid white;
  border-radius: 10px;
  background-color: $secondary-color;
  opacity: 0.85;
}
@mixin cornerStyle() {
  height: 30%;
  width: 60%;
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
@mixin managerStyle() {
  border: 2px solid $secondary-color;
  background-color: $manager-background-color;
  padding: 3%;
  margin: 2%;
}
@mixin highlightButton() {
  outline: none;
  background-color: $secondary-color;
  box-shadow: 0 0 0.75em white;
}
@mixin errorDisplay() {
  outline: none;
  box-shadow: 0 0 0.8em red;
  animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes shake-top {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }

  10% {
    transform: rotate(0deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-1deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(1deg);
  }

  80% {
    transform: rotate(1deg);
  }

  90% {
    transform: rotate(-1deg);
  }
}
